:root{
    --lake: rgb(24, 87, 76);
    --river: rgb(70, 119, 189);
    --waterfall: rgb(184, 210, 222);
    --fiji: rgb(253,114,194);
    --pee: rgb(232, 230, 125);
    --ocean: rgb(0,113,152);
    --deep_sea: rgb(4, 4, 28);
    --puddle: rgb(136, 145, 158);
    --rain: rgb(78, 101, 120);
    --vodka: rgb(204, 206, 207);
    --seltzer: rgb(207, 255, 224);
    --ice: rgb(240, 253, 255);
    --blood: rgb(168, 8, 11);
}

body {
    background-color: var(--lake);
    color: var(--river);
    text-shadow: 1px 1px var(--pee);
    text-align: center;
}

#question {
    font-size: 25px;
}

#answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.answer-item {
    background-image: linear-gradient(#d3d0cbff,#2e5266ff, #2e5266ff, #2e5266ff, #2e5266ff);
    color: var(--deep_sea);
    padding: 25px;
    border: 3px solid var(--blood);
    margin: 30px;
    width: 150px;
    height: 150px;
    justify-content: center;
    font-size: 18px;
    border-radius: 50%;
    
}

#game {
    display: none;
    /* animation: fade-out 1s cubic-bezier(0, 0, 0.2, 1); */
}

/* #reset-button{
    display: none;
} */

.correct {
    display: none;
}

#score-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#end-screen {
    height: 100vh;
    width: 100vw;
    background: black;
    display: none;
}

#end-bar{
    height:100vh;
    width:100vw;
    border:2px solid #000;
    text-align:center;
    color:#fff;
    font-size:20px;
    background:linear-gradient(to right, red 1%, yellow 20%, blue );
}

.ripple {
    width: 10px;
    height: 1px;
    opacity: 0;
    transform: scale(0);
    background:  '';
    border-radius: 50%;
    position: fixed;
}

.animate {
    animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes ripple-mo {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(50);
      opacity: 0;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


/* audio {
    display: none
} */