:root{
    --lake: rgb(24, 87, 76);
    --river: rgb(70, 119, 189);
    --waterfall: rgb(184, 210, 222);
    --fiji: rgb(253,114,194);
    --pee: rgb(232, 230, 125);
    --ocean: rgb(0,113,152);
    --deep_sea: rgb(4, 4, 28);
    --puddle: rgb(136, 145, 158);
    --rain: rgb(78, 101, 120);
    --vodka: rgb(204, 206, 207);
    --seltzer: rgb(207, 255, 224);
    --ice: rgb(240, 253, 255);
    --blood: rgb(168, 8, 11);
}

body {
    background-image: linear-gradient(var(--rain) , var(--ocean));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* text-shadow: 1px 1px var(--pee); */
    /* text-align: center;
    font-size: 50px;
    font-family: 'Oi', cursive; */ 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* START SCREEN */

#start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#title{
     color: var(--seltzer);
    /* text-shadow: 1px 1px var(--pee); */
    text-align: center;
    font-size: 220px;
    padding: 20px;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

#start-button {
    justify-content: center;
    height: 100px;
    width: 220px;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    color: var(--deep_sea);
    font-style: italic;
    font-weight: bold;
    border-radius: 20%;
    font-weight: none;
    border: 10px ridge var(--seltzer);
    background-image: linear-gradient(to right, var(--ice), var(--waterfall));
    background-size: 300%;
    animation: start-ripple 6s cubic-bezier(0, 0, 0.2, 1);
    animation-iteration-count:infinite;
    outline : 0;
    -moz-outline : 0;
}


#question {
    font-size: 60px;
    color: var(--seltzer);
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

#answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer-item {
    display: flex;
    color: var(--deep_sea);
    background-color: var(--waterfall);
    padding: 35px;
    border: 3px solid var(--seltzer);
    margin: 60px;
    width: 210px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 2% 40% 40% 40%;
    font-size: 25px;
    color: var(--deep_sea);
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

#game {
    display: none;
}

#reset-button {
    display: none;
    align-self: flex-end;
    position: absolute;
    left: 50%; 
    bottom: -80%;
    transform: translateX(-50%);
    margin-bottom: 10vh;
    justify-content: center;
    height: 100px;
    width: 200px;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    color: var(--deep_sea);
    font-style: italic;
    font-weight: bold;
    border-radius: 20%;
    font-weight: none;
    border: 10px ridge var(--seltzer);
    background-image: linear-gradient(to right, var(--ice), var(--waterfall));
    background-size: 300%;
    animation: start-ripple 6s cubic-bezier(0, 0, 0.2, 1);
    animation-iteration-count:infinite;
    outline : 0;
    -moz-outline : 0;
}

/* audio {
    display: none
} */

/* END SCREEN */

#score-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 5vh;
    flex-basis: 67%;
}

#end-screen {
    height: 100vh;
    /* width: 100vw; */
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 5vw;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 900px;
}

#result {
    margin-bottom: 75px;
    flex-basis: 100%;
    flex-grow: 1;
}


#result-profile {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 80px;
    color: var(--rain);
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#result-description {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: left;
    max-width: 50vw;
}

#end-bar{
    height:92vh;
    width: 10vw;
    text-align:center;
    color:#fff;
    font-size:20px;
    background:linear-gradient(to right, red 1%, yellow 20%, blue );
    border: 2px groove black;
    margin-bottom: 100px;
}

#end-bar-labels{
    height: 92vh;
    width: 100px;
    background-color: none;
    /* display: table-cell; */
    vertical-align: middle;
}

#end-bar-labels p{
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: var(--seltzer);
    font-size: 15px;
}
/* 
ANIMATION CLASSES */

.ripple {
    width: 10px;
    height: 1px;
    opacity: 0;
    transform: scale(0);
    background:  '';
    border-radius: 50%;
    position: fixed;
}

svg{
    fill: var(--blood);
    height: 2vh;
    height: 20px;
    position: fixed;
}

.animate {
    animation: ripple-mo 3s cubic-bezier(0, 0, 0.2, 1);
}

.fall {
    animation: drip-dropping 2s normal forwards;
}

.fade {
    animation: fade 7s cubic-bezier(0, 0, 0.2, 1);
}

.end-fade {
    animation: end-fade 7s cubic-bezier(0, 0, 0.2, 1);
}

.start-fade {
    animation: end-fade 3s cubic-bezier(0, 0, 0.2, 1);
    pointer-events: none;
}

.no-click {
    pointer-events: none;
}

/* KEYFRAMES */

@keyframes ripple-mo {
    0%{
        transform: scale(0);
        opacity: 1;
    }
    66% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(50);
        opacity: 0;
    }
  }

@keyframes fade {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes end-fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes start-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }


@keyframes drip-dropping {
    0% {
        opacity: 1;
        top: 0%;
        transform: translate(0px, 0px);
    }
    /* 15%{
        top: 2%
    }
    50%{
        opacity: 1;
    } */
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 69%;
        transform: translate(0px, 0px);
    }
  }

  @keyframes start-ripple  {
    0% {
        background-position: left;
    }
    50%{
        background-position: right;
    }
    100% {
        background-position: left;
    }

  }

  @media(max-width: 1500px) {

    #title {
        font-size: 150px;
    }

    #result-description {
        max-width: none;
    }

    #reset-button {
        bottom: -110%;
    }

@media(max-width: 1025px) {

    #question {
        font-size: 45px;
    }

    #title {
        font-size: 90px;
    }

    #result-profile {
        font-size: 50px;
    }

    .animate {
        animation: ripple-mo 3s cubic-bezier(0, 0, 0.2, 1);
    }

    @keyframes ripple-mo {
        0%{
            transform: scale(0);
            opacity: 1;
        }
        66% {
            transform: scale(0);
            opacity: 1;
        }
        100% {
            transform: scale(20);
            opacity: 0;
        }
        }
    }
}