:root{
    --lake: rgb(24, 87, 76);
    --river: rgb(70, 119, 189);
    --waterfall: rgb(184, 210, 222);
    --fiji: rgb(253,114,194);
    --pee: rgb(232, 230, 125);
    --ocean: rgb(0,113,152);
    --deep_sea: rgb(4, 4, 28);
    --puddle: rgb(136, 145, 158);
    --rain: rgb(78, 101, 120);
    --vodka: rgb(204, 206, 207);
    --seltzer: rgb(207, 255, 224);
    --ice: rgb(240, 253, 255);
    --blood: rgb(168, 8, 11);
}

body {
    background-color: var(--lake);
    color: var(--river);
    text-shadow: 1px 1px var(--pee);
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#question {
    font-size: 25px;
}

#answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.answer-item {
    background-image: linear-gradient(#d3d0cbff,#2e5266ff, #2e5266ff, #2e5266ff, #2e5266ff);
    color: var(--deep_sea);
    padding: 25px;
    border: 3px solid var(--blood);
    margin: 30px;
    width: 150px;
    height: 150px;
    justify-content: center;
    font-size: 18px;
    border-radius: 50%;
}

#game {
    display: none;
}

.fade {

    animation: fade 7s cubic-bezier(0, 0, 0.2, 1);
}

.no-click {
    pointer-events: none;
}

/* #reset-button{
    display: none;
} */

.correct {
    display: none;
}

#score-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#end-screen {
    height: 100vh;
    width: 100vw;
    display: none;
}

#end-bar{
    height:90vh;
    width:100px;
    text-align:center;
    color:#fff;
    font-size:20px;
    background:linear-gradient(to right, red 1%, yellow 20%, blue );
}

#end-bar-labels{
    height: 90vh;
    width: 100px;
    background-color: cornsilk;
    display: table-cell;
    vertical-align: middle;
}

#end-bar-labels p{
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.ripple {
    width: 10px;
    height: 1px;
    opacity: 0;
    transform: scale(0);
    background:  '';
    border-radius: 50%;
    position: fixed;
}

svg{
    fill: var(--blood);
    height: 2vh;
    height: 20px;
    position: fixed;
}

.animate {
    animation: ripple-mo 3s cubic-bezier(0, 0, 0.2, 1);
}

.fall {
    animation: drip-dropping 2s normal forwards;
}

@keyframes ripple-mo {
    0%{
        transform: scale(0);
        opacity: 1;
    }
    66% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(50);
        opacity: 0;
    }
  }

@keyframes fade {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

@keyframes drip-dropping {
    0% {
        opacity: 1;
        top: 0%;
        transform: translate(0px, 0px);
    }
    /* 15%{
        top: 2%
    }
    50%{
        opacity: 1;
    } */
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 69%;
        transform: translate(0px, 0px);
    }
  }


/* audio {
    display: none
} */